<nav class="bottom-nav">
  <div class="nav-item active" data-nav="home">
    <span class="nav-icon"><i class="fa-solid fa-house"></i></span>
    <span class="nav-label">Home</span>
  </div>
  <a class="nav-item" data-nav="book" href="https://www.fresha.com/p/ivia-beauty-lounge-6213278?share=true&pId=2810015" target="_blank">
    <span class="nav-icon"><i class="fa-regular fa-calendar"></i></span>
    <span class="nav-label">Book</span>
  </a>
  <a class="nav-item" data-nav="info" href="services.html">
    <span class="nav-icon"><i class="fa-solid fa-circle-info"></i></span>
    <span class="nav-label">Info</span>
  </a>
</nav>
